{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} My Account {% endblock %}</h1>
{% endblock %}
{% block content %}
  
  <article class="user_details">
    <header>
      <h3>{{ user_details['username'] }}</h3>
    </header>
  </article>
  <hr><hr>
  <h1>Your Listings</h1>
  {% for listing in listings %}
    <article class="listing">
      <div>
        <h3> {{ listing ['title'] }} </h3>
        <div class="about">Price: {{ listing['price'] }}, Condition: {{ listing['listing_condition'] }}</div>
        <div class="details">Status: {{listing['listing_status'] }}, Listing ID: {{listing['listing_id'] }}</div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr><hr>
  <h1>Your Order Baskets</h1>
  <a href="{{ url_for('new_order') }}">New Order Basket</a>
  <hr>
  {% for order_basket in order_baskets %}
    <article class="order_basket">
      <div>
        <header>
          <h3> Order Basket #{{ order_basket ['order_basket_id'] }} </h3>
          <div class="details">Status: {{order_basket['order_basket_status'] }}</div>
        </header>
        <ul>
          {% for listing in order_basket['listings'] %}
            <article class="listing">
              <li>
                <b> {{ listing ['title'] }} - </b>
                Price: {{ listing['price'] }}, Condition: {{ listing['listing_condition'] }}, 
                Listed By: {{listing['username'] }}, Listing ID: {{listing['listing_id'] }}
              </li>
            </article>
          {% endfor %}
        </ul>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}