<!doctype html>
<title>{% block title %}{% endblock %} -- Textbook Marketplace</title>
<nav>
  <h1><a href="{{ url_for('index') }}">Textbook Marketplace</a></h1>
  <ul>
    <form method="get" action="{{ url_for('search') }}">
      <input name="query" id="query" value="{{ request.form['query'] }}" required>
      <input type="submit" value="Search">
    </form>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>