{% extends 'baser.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" maxlength="11" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" maxlength="11" required>
    <input type="submit" value="Login">
  </form>
  <br>
  <a class="action" href="{{ url_for('register') }}">Register</a>
{% endblock %}