{% extends 'base.html' %}

{% block header %}
  {% block title %}Search Results{% endblock %}
{% endblock %}
{% block content %}
  <h1>Search results for {{ query }} </h1> 
    {% for book in books%}
      <article class="post">
        <header>
          <div>
            <h1>{{ book['title'] }}</h1>
            <div class="about">Subject: {{ book['title'] }}</div>
          </div>
        </header>
        <p class="description">{{ book['description'] }}</p>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
{% endblock %}